/*Plz somebody help me style this :((*/

html {
    background-color: var(--color1);
}

/*SECTION*/

section {
    display: flex;
    align-items: stretch;
    background-color: var(--color3);
}

section ul {
    flex: 1;
    list-style: none;
    background-color: var(color2);
}

section ul li {
    color: white;
    margin: 30px 0 30px 50px
}

section div.container {
    flex: 4;  
    display: flex;
    background-color: var(--color4);
    align-items:center;
    flex-direction:column ; 
    padding: 4% 0;
    background-color: var(--color4);
    opacity: 0.9;
}

.container h2 {
    margin-top: 20px;
}

.container h1 {
    margin-bottom: 10px;
}

.container1 {
    margin-bottom: 20px;
}

.container1 h2 {
    max-width: fit-content;
    margin-top: 10px;
}

.products {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
